{% extends 'admin_base.html'%}
{% load static %}
{% block content %}

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!--  <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>
                         DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Category List</h6>
                            
                            
                           <a href="{% url 'admin_addcategory' %}"><button type="submit"
                             class="btn bg-success btn-sm gradient-custom-4 text-white">Add Category</button></a>
                             <a href="{% url 'admin_subcategorylist' %}"><button type="submit"
                             class="btn bg-gradient-primary  btn-sm gradient-custom-4 text-white">Show Subcategorylist</button>
                            </a>
                            <a href="{% url 'admin_variantlist' %}"><button type="submit"
                                class="btn bg-gradient-primary  btn-sm gradient-custom-4 text-white">Show Varinatslist</button>
                               </a>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                           
                                            <th>Sl.NO</th>
                                            <th>Category</th>
                                            <th>Current cat offer</th>
                                            
                                            <th>add subcategory</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                           
                                            
                                        </tr>
                                    </thead>
                                  <!---   <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot> -->
                                    <tbody>
                                        {% for i in p_cate %}
                                        <tr>
                                          <td>{{ i.id }}</td>
                                             <!---<td>{{ i.book_title }}</td>
                                            <td>{{ i.author }}</td>
                                            <td><img src="{{ i.picture.url }}" style="height: 25px; width:25px"></td>--> 
                                            <td>{{ i.cate_name }}</td>
                                            <td>{{i.catewise_dicount_price}}</td>

                                            <td><a href="{% url 'admin_addsubcategory' %}?uid={{ i.id }}" class="btn btn-primary btn-sm">Add sub</td>
                                            <td >
                                                <a href ="{% url 'admin_editcategory'  %}?uid={{ i.id }}" class="btn btn-primary">
                                                  <i calss="btn text-secondary "> Edit</i>

                                                  <td >
                                                <a href ="{% url 'admin_deletecategory' %}?uid={{ i.id }}" class="btn btn-danger">
                                                  <i calss="btn-sm text-secondary ">Delete</i>
                                        </tr>
                                        {% endfor %}
                                         <!--- <tr>
                                            <td>Garrett Winters</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>63</td>
                                            <td>2011/07/25</td>
                                            <td>$170,750</td>
                                        </tr>
                                        <tr>
                                            <td>Ashton Cox</td>
                                            <td>Junior Technical Author</td>
                                            <td>San Francisco</td>
                                            <td>66</td>
                                            <td>2009/01/12</td>
                                            <td>$86,000</td>
                                        </tr>
                                        <tr>
                                            <td>Cedric Kelly</td>
                                            <td>Senior Javascript Developer</td>
                                            <td>Edinburgh</td>
                                            <td>22</td>
                                            <td>2012/03/29</td>
                                            <td>$433,060</td>
                                        </tr>
                                        <tr>
                                            <td>Airi Satou</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>33</td>
                                            <td>2008/11/28</td>
                                            <td>$162,700</td>
                                        </tr>
                                        <tr>
                                            <td>Brielle Williamson</td>
                                            <td>Integration Specialist</td>
                                            <td>New York</td>
                                            <td>61</td>
                                            <td>2012/12/02</td>
                                            <td>$372,000</td>
                                        </tr>
                                        <tr>
                                            <td>Herrod Chandler</td>
                                            <td>Sales Assistant</td>
                                            <td>San Francisco</td>
                                            <td>59</td>
                                            <td>2012/08/06</td>
                                            <td>$137,500</td>
                              
               /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            


{% endblock %}