<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Add Products</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>          
    
    <section class="vh-100 bg-image"
  style=" background-color: rgb(111, 164, 214); background-image: url('httpss://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Edit product</h2>

              <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            {% for i in pro_serch %}
                <div class="form-outline mb-4">
                  <input required type="text" id="form3Example1cg" value="{{ i.book_title}}" class="form-control form-control-lg" name="book_title"/>
                  <label class="form-label text-secondary" for="form3Example1cg"> Product Name</label>
                </div>
                
                <div required class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" value="{{ i.description }}" class="form-control form-control-lg" name="description"/>
                  <label class="form-label text-secondary" for="form3Example1cg">Description</label>
                </div>
                <div class="form-outline mb-4">
                  {% if i.image %}
                  <img src="{{ i.image.url }}" alt="img" style="height: 40px; width:40px">
                  {% endif %}
                  <input required type="file" id="form3Example1cg" value="{{ i.price }}"  class="form-control form-control-lg" name="myfile"/>
                  <label class="form-label text-secondary" for="form3Example1cg">image</label>
                </div>
                
                <!-- <div class="form-outline mb-4">
                  <input type="number" id="form3Example1cg" value="{{ i.price }}" class="form-control form-control-lg" name="price"/>
                  <label class="form-label" for="form3Example1cg">Price</label>
                </div> -->
                {% endfor %} 
                
                <div class="form-outline mb-4">
                  <select class="form-control" id="exampleFormControlSelect1" name="product_category">
                    {% for i in categor %}
                    <option>{{ i.cate_name }}</option>
                    {% endfor %}
                  </select>
                  <label class="form-label text-secondary" for="form3Example1cg">Select Category</label>
                </div>

                <div  class="form-outline mb-4">
                  <select class="form-control" id="exampleFormControlSelect1" name="product_subcategory">
                    {% for i in subcate %}
                    <option>{{ i.subcategory_name }}</option>
                    {% endfor %}
                  </select>
                  <label class="form-label text-secondary" for="form3Example1cg">Select Subcategory</label>
                </div>
                <!-- <div class="form-outline mb-4">
                  <select class="form-control" id="exampleFormControlSelect1" name="product_variant">
                    {% for i in variant %}
                    <option>{{ i.varient_name }}</option>
                    {% endfor %}
                  </select>
                  <label class="form-label text-secondary" for="form3Example1cg">Select Variants </label>
                </div>
                <div class="form-outline mb-4">
                  <select class="form-control" id="exampleFormControlSelect1" multiple name="product_variantoption">
                    {% for i in variant_option %}
                    <option>{{ i.variantoption_name }}</option>
                    {% endfor %}
                  </select>
                  <label class="form-label text-secondary" for="form3Example1cg">Select the Varients Option</label>
                </div> -->


                <div class="d-flex justify-content-center">
                  <button type="submit" value="Submit"
                    class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body">Add</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0"><a href="#!"
                    class="fw-bold text-body"><u></u></a></p>
            
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>