{% extends 'base.html'%}
{% load static %}
{% block content %}



        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="{% url 'index_3_home'  %}">Home</a></li>
                                    <li class="is-marked">

                                        <a href="{% url 'cart_table' %}">Cart</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">SHOPPING CART</h1>
                                    {% if messages %}
        <div class="ss align-items-center">
        <ul class="messages align-items-center " style="background-color: rgb(255, 253, 240);">
            
        </ul>
    </div>
        {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            {% for i in cart %}
                            <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
                                <div class="table-responsive">
                                    <table class="table-p">
                                        <tbody>

                                            <!--====== Row ======-->
                                            <tr>
                                                
                                                <td style="width:45%;">
                                                    <div class="table-p__box">
                                                        <div class="table-p__img-wrap">

                                                            <img class="u-img-fluid" style="height: 100%;" src="{{i.product.image.url}}" alt=""></div>
                                                        <div style="width: 50%;" class="table-p__info">

                                                            <span style="width:70%;"  class="table-p__name">
                                                                

                                                                <a  href="{% url 'product_details' %}?uid={{i.product.id}}">{{ i.product.book_title }}</a></span>
                                                               

                                                            <span class="table-p__category">

                                                                <!-- <a href="shop-side-version-2.html">{{ i.product.p_category }}</a></span> -->
                                                            <ul class="table-p__variant-list">
                                                                <li>

                                                                    <span> Qty :{{i.quantity}}</span></li>
                                                                <li>

                                                                    <span>{{i.c_product_vatiantoption_key.voption_vartaint_key}} :{{i.c_product_vatiantoption_key.variantoption_name}}{{i.c_product_vatiantoption_key.unit}} </span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>

                                                    <span class="table-p__price">{% if i.product.p_category.catewise_dicount_price %} <h2 style='color: orangered;'>₹{{i.c_product_vatiantoption_key.discount_price}}</h2> {% else %}<h2 style='color: orangered;'>₹{{i.c_product_vatiantoption_key.price}}</h2> {% endif %}
                                                        </span></td>

                                                <td>
                                                    <div class="table-p__input-counter-wrapr">

                                                        <!--====== Input Counter ======-->
                                                        <div class="input-counter">

                                                           
                                                             <a  class="input-counter__minus fas fa-minus minus-btn" pid={{i.c_product_vatiantoption_key.id}}></a>
                                                             
                                                        
                                                           
                                                            <h5 style="padding-top: 4%;" class="input-counter__text input-counter--text-primary-style mt-5" type="text" min="1" value="1"  data-max="1000">{{i.quantity}}</h5>
                                                         

                                                            <a class="input-counter__plus fas fa-plus plus-btn" pid={{i.c_product_vatiantoption_key.id}}></a>
                                                       
                                                       

                                                    </div>
                                                        <!--====== End - Input Counter ======-->
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-p__del-wrap">

                                                        <a class="far fa-trash-alt table-p__delete-link" href="{% url 'cart_deleteproduct' %}?uid={{ i.id }}"></a></div>
                                                </td>
                                            </tr>
                                            <!--====== End - Row ======-->


                                            <!-- ====== Row ======
                                            <tr>
                                                <td>
                                                    <div class="table-p__box">
                                                        <div class="table-p__img-wrap">

                                            <!--====== End - Row ======-->


                                            <!--====== Row ======-->
                                            <!-- <tr>
                                                <td>
                                                    <div class="table-p__box">
                                                        <div class="table-p__img-wrap">

                                                            <img class="u-img-fluid" src="{% static 'images/product/men/product8.jpg' %}" alt=""></div>
                                                        <div class="table-p__info">

                                                            <span class="table-p__name">

                                                                <a href="product-detail.html">New Fashion D Nice Elegant</a></span> -->

                                                            <!-- <span class="table-p__category">

                                                                <a href="shop-side-version-2.html">Men Clothing</a></span>
                                                            <ul class="table-p__variant-list">
                                                                <li>

                                           
                                                            <input class="input-counter__text input-counter--text-primary-style" type="text" value="1" data-min="1" data-max="1000">

                                                            <span class="input-counter__plus fas fa-plus"></span></div> -->
                                                        <!--====== End - Input Counter ======-->
                                                    <!-- </div>
                                                </td>
                                                <td>
                                                    <div class="table-p__del-wrap">
                                                        <a class="far fa-trash-alt table-p__delete-link" href="#"></a></div>
                                                </td>
                                            </tr> --> 
                                            <!--====== End - Row ======-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="col-lg-12">
                                <div class="route-box">
                                    <div class="route-box__g1">

                                        <a class="route-box__link" href="{% url 'shop_list_left_books' %}"><i class="fas fa-long-arrow-alt-left"></i>

                                            <span>CONTINUE SHOPPING</span></a></div>
                                    <!-- <div class="route-box__g2">

                                        <a class="route-box__link" href="{% url 'clear_cart' %}"><i class="fas fa-trash"></i>

                                            <span>CLEAR CART</span></a>

                                        </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->


            <!--====== Section 3 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
                                <form class="f-cart">
                                    <div class="row">
                                        <!-- <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                            <div class="f-cart__pad-box">
                                                <h1 class="gl-h1">ESTIMATE SHIPPING AND TAXES</h1>

                                                <span class="gl-text u-s-m-b-30">Enter your destination to get a shipping estimate.</span>
                                                <div class="u-s-m-b-30">

                                                    <!--====== Select Box ======-->

                                                    <!-- <label class="gl-label" for="shipping-country">COUNTRY *</label><select class="select-box select-box--primary-style" id="shipping-country">
                                          
                                                <div class="u-s-m-b-30">

                                                    <label class="gl-label" for="shipping-zip">ZIP/POSTAL CODE *</label>

                                                    <input class="input-text input-text--primary-style" type="text" id="shipping-zip" placeholder="Zip/Postal Code"></div>
                                                <div class="u-s-m-b-30">

                                                    <a class="f-cart__ship-link btn--e-transparent-brand-b-2" href="cart.html">CALCULATE SHIPPING</a></div>

                                                <span class="gl-text">Note: There are some countries where free shipping is available otherwise our flat rate charges or country delivery charges will be apply.</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                            <div class="f-cart__pad-box">
                                                <h1 class="gl-h1">NOTE</h1>

                                                <span class="gl-text u-s-m-b-30">Add Special Note About Your Product</span>
                                                <div>

                                                    <label for="f-cart-note"></label><textarea class="text-area text-area--primary-style" id="f-cart-note"></textarea></div>
                                            </div>
                                        </div> -->
                                        <div class="col-lg-4 col-md-6 u-s-m-b-30 ">
                                            <div class="f-cart__pad-box">
                                                <div class="u-s-m-b-30">
                                                    <table class="f-cart__table">
                                                        <tbody>
                                                            <tr>
                                                                <td>SHIPPING</td>
                                                                <td>₹40.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>TAX</td>
                                                                <td>FREE</td>
                                                            </tr>
                                                            <tr>
                                                                <td>SUBTOTAL</td>
                                                                <td id="amount" >₹{{amount}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>GRAND TOTAL</td>
                                                                <td id="totalamount">₹{{ total_price }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div>

                                                    <!-- <a href="{% url 'address_checkout' %}"><button class="btn btn--e-brand-b-2" type="submit"> PROCEED TO CHECKOUT</button></div></a>
                                                     -->
                                                     <a class="mini-link btn--e-brand-b-2" href="{% url 'address_checkout' %}">PROCEED TO CHECKOUT</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 3 ======-->
        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
       





        <!-- jquery to check and display the discount price for the producr by category -->
<script>
    $(document).ready(function() {
      const productPriceElem = $('#product-price');
      if (product.dis_price) {
        productPriceElem.append(`
          <div class="product-m__price fa fa-rupee">
            <h2 style='color: orangered'>₹${ product.price }</h2>
          </div>
          <div class="product-m__price fa fa-rupee">
            <del>₹${ product.dis_price }</del>
          </div>
        `);
      } else {
        productPriceElem.append(`
          <div class="product-m__price fa fa-rupee">
            <h2 style='color: orangered'>₹${ product.price }</h2>
          </div>
        `);
      }
    });


    // <div id="product-price"></div>

  </script>


<!-- filter by category -->

</script>


<!-- filter by price -->
<!-- <script>


    const form = document.querySelector('.main-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        const searchInput = document.getElementById('main-search');
        const searchTerm = searchInput.value;
        filterProducts(searchTerm);
    });
</script> -->





</script>

<script>
    function rangedis(){
         range = document.getElementById("range1").value;
         document.getElementById("maPrice").innerHTML = "please enter minimum 8 digits";


     }
 </script>



<!-- js of all ajax works --cpoy of myjs -->
<script>
    

$('.plus-btn').click(function(){
    var id=$(this).attr("pid").toString();
    var eml= this.parentNode.children[1]
    console.log('pid=',id)
    $.ajax({
        type:"GET",
        url:"/pluscart",
        data:{
            prod_id:id
        },
        success:function(data){
            if ('prod_name' in data ){
            // document.getElementById("prod_name").innerText=data.prod_name

            alert('the product stock limit reached-Cart Table')

            }else{
            console.log("data=",data);
            eml.innerText=data.quantity
            document.getElementById("amount").innerText="₹"+data.amount
            document.getElementById("totalamount").innerText="₹"+data.totalamount
            }
        }
    })
})



// discout price in grand total
$('.plus-bn').click(function(){
    var id=$(this).attr("pid").toString();
    var eml= this.parentNode.children[1]
    console.log('pid=',id)
    $.ajax({
        type:"GET",
        url:"/discount_showing",
        data:{
            prod_id:id
        },
        success:function(data){
            if ('prod_name' in data ){
            // document.getElementById("prod_name").innerText=data.prod_name

            alert('the product stock limit reached-Cart Table')

            }else{
            console.log("data=",data);
            eml.innerText=data.quantity
            document.getElementById("amount").innerText="₹"+data.amount
            document.getElementById("totalamount").innerText="₹"+data.totalamount
            }
        }
    })
})





// Minus
$('.minus-btn').click(function(){
    var id=$(this).attr("pid").toString();
    var eml= this.parentNode.children[1]
    console.log('pid=',id)
    $.ajax({
        type:"GET",
        url:"/minuscart",
        data:{
            prod_id:id
        },
        success:function(data){

            console.log("data=",data);
            if(data.removed){
                location.reload();
            }
            else{
            eml.innerText=data.quantity
            document.getElementById("amount").innerText="₹"+data.amount
            document.getElementById("totalamount").innerText="₹"+data.totalamount
            }
            
        }
    })
})




// productdetails quantity plus increment
$('.pluss-btnn').click(function(){
    console.log('start-plus')
    var id=$(this).attr("pid").toString();
    var eml= this.parentNode.children[1]
    console.log('pid=',id)
    
    $.ajax({
        type:"GET",
        url:"/product_pluscart",
        data:{
            prod_id:id
        },
        success:function(data){
            if ('prod_name' in data ){
            // document.getElementById("prod_name").innerText=data.prod_name
            console.log('end')
            alert('the product stock limit reached-PRODUCT DETAILS')

            }else{
            console.log('oo')
            console.log("data=",data);
            eml.innerText=data.quantity
            // document.getElementById("amount").innerText="₹"+data.amount
            // document.getElementById("totalamount").innerText="₹"+data.totalamount
            }
        }
    })
})





// productdetails quantity MINS decrement
$('.minus-btnn').click(function(){
    var id=$(this).attr("pid").toString();
    var eml= this.parentNode.children[1]
    console.log('pid=',id)
    $.ajax({
        type:"GET",
        url:"/product_minuscart",
        data:{
            prod_id:id
        },
        success:function(data){

            console.log("data=",data);
            if(data.removed){
                location.reload();
            }
            else{
            eml.innerText=data.quantity
            document.getElementById("amount").innerText="₹"+data.amount
            document.getElementById("totalamount").innerText="₹"+data.totalamount
            }
            
        }
    })
})


// $('.minus-btn').click(function(){
//     var id=$(this).attr("pid").toString();
//     var eml= this.parentNode.children[1]
//     console.log('pid=',id)
//     $.ajax({
//         type:"GET",
//         url:"/minuscart",
//         data:{
//             prod_id:id
//         },
//         success:function(data){
//             if ('prod_name' in data ){
//             // document.getElementById("prod_name").innerText=data.prod_name
//             alert('the product limit reached')

//             }else{
//             console.log("data=",data);
//             eml.innerText=data.quantity
//             document.getElementById("amount").innerText=data.amount
//             document.getElementById("totalamount").innerText=data.totalamount
//             }
//         }
//     })
// })



// $('.minus-btn').click(function(){
//     var id = $(this).attr("pid").toString();
//     var eml = this.parentNode.children[1];

//     $.ajax({
//         type: "GET",
//         url: "/minuscart",
//         data: { prod_id: id },
//         success: function(data) {
//             console.log("data=", data);

//             if(data.removed) {
//                 location.reload();
//             } else if (data.quantity) {
//                 eml.innerText = data.quantity;
//                 document.getElementById("amount").innerText = data.amount;
//                 document.getElementById("totalamount").innerText = data.totalamount;
//             } else {
//                 console.log("Invalid response from server.");
//             }
//         },
//         error: function(jqXHR, textStatus, errorThrown) {
//             console.log("AJAX Error:", textStatus, errorThrown);
//         }
//     });
// });



// decreasing quatity 
// $('.input-counter__minus').click(function(){
//     var id=$(this).attr("pid").toString();
//     var eml= this.parentNode.children[1]
//     console.log('pid=',id)
//     $.ajax({
//         type:"GET",
//         url:"/minuscart",
//         data:{
//             prod_id:id
//         },
//         success:function(data){
//             console.log("data=",data);
//             eml.innerText=data.quantity
//             document.getElementById("amount").innerText=data.amount
//             document.getElementById("totalamount").innerText=data.totalamount
            
//         }
//     })
// })



// **Product variant displaying**
$('.product_variant').click(function(){
    var id=$(this).attr("pid").toString();
    
    // console.log('parentNode=',eml)
    console.log('pid=',id)
    $.ajax({
        type:"GET",
        url:"/product_variantoption_selecting",
        data:{
            variantoption_id:id
        },
        success:function(data){
            console.log("data=",data);
            // if (data.product_variant_dis_price){
            //  document.getElementById("product_variant_price").innerHTML='₹'+''+data.product_variant_dis_price
            // document.getElementById("totalamount").innerText=data.totalamount

            if (data.product_variant_dis_price) {
                var oldPrice = "₹" + data.product_variant_price;
                var newPrice = "₹" + data.product_variant_dis_price;
                var discount =" ₹" + data.product_variant_dis_amt + "";
              
                var html =  newPrice + ' <h4 style="color:black ; display:inline-block">' +'<del>' +  oldPrice + '</del></h4><h4 style="color:rgb(9, 163, 9)"> You will save' + discount + '</h4>';
                
                document.getElementById("product_variant_price").innerHTML = html;
              
            }
            else{
                document.getElementById("product_variant_price").innerHTML='₹'+''+data.product_variant_price

            }
        }
    })
})









//  filter products by price
    $(document).ready(function() {
        $('#priceFilterBtn').click(function() {
            var max_price = $('#maxPrice').val();
            var min_price = $('#rangeInput').val();
            console.log(min_price)
            console.log(max_price,'max')


            $.ajax({
                url: '/filter_products_byprice',
                type: 'GET',
                data: {
                    'min_price': min_price,
                    'max_price': max_price
                },
                dataType: 'json',
                success: function(productList) {
                    const productContainer = document.getElementById('product-list');
    productContainer.innerHTML = '';
    
    
    for (let i = 0; i < productList.length; i++) {
        const product = productList[i];
        // alert(product[0].book_title,'hihihi')
       
       
        
        const html = `
        <div class="row is-list-active">
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product-m">
                                            <div class="product-m__thumb">
                                               
                            
                                                <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/product_details?uid=${product.id}">
                                                    
                                                    ${product.image ?`  <img class="aspect__img"  src="/media/${product.image}" alt="dd">`:''}</a>
                                                    
                                                <div class="product-m__quick-look">
                            
                                                    <a class="fas fa-search" data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick Look"></a></div>
                                                    <div class="product-m__add-cart">

                            
                                                        <a class="btn--e-brand" data-modal="modal" data-modal-id="" href="/create_cart?uid=${ product.id }&variant_option_id=${product.var_id}">Add to Cart</a></div>
                                                                                                         <!-- #add-to-cart -->
                                                    </div>
                                               
                                            <div class="product-m__content">
                                                <div class="product-m__category">
                            
                                                <a href="">${ product.p_category } | ${product.p_subcategory}</a></div>
                                                <div class="product-m__name">
                            
                                                    <a href="product-detail.html">${ product.book_title }</a></div>
                                                <div class="product-m__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            
                                                    <span class="product-m__review">(23)</span></div>
                                                    ${ product.dis_price ? 
                                                        `<div class="product-m__price fa fa-rupee" ><h2 style='color: orangered'>₹${ product.price}</div><br>
                                                        <div class="product-m__price fa fa-rupee" ><del>₹${ product.dis_price} </del>You will save ${ product.save_price}</div>`
                                                                            
                                                        :`<div class="product-m__price fa fa-rupee" ><h2 style='color: orangered'>₹${ product.price}</div>`  
                                                                 }
                                                <div class="product-m__hover">
                                                    <div class="product-m__preview-description">
                            
                                                        <span>${product.description}</span></div>
                                                    <div class="product-m__wishlist">
                            
                                                        <a class="far fa-heart" href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        `;
        productContainer.insertAdjacentHTML('beforeend', html);
    }


                    console.log(data.varop_obj);
                    // Do something with the filtered products
                },
                error: function(xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        })
    });








// filter products by category
$('.filter_pro_bycate').click(function(){
    var id=$(this).attr("pid").toString();
    console.log(id)
    filterProducts(id)

function filterProducts(id) {
    const url = '/filter_bycategory/?cate_proname=' +id;
    console.log(url)
    const xhr = new XMLHttpRequest();
    xhr.open('GET', url);
    xhr.onload = function() {
        if (xhr.status === 200) {
            // const productList=eval(xhr.responseText);
            const productList = JSON.parse(xhr.responseText);
            console.log(productList)
            // alert(productList[0],'hihihi')
            updateProductList(productList);
            
        }
    };
    xhr.send();
}
function updateProductList(productList) {
    const productContainer = document.getElementById('product-list');
    const input=document.getElementById("main-search")
    input.value='';
    productContainer.innerHTML = '';
    
    
    for (let i = 0; i < productList.length; i++) {
        const product = productList[i];
        // alert(product[0].book_title,'hihihi')
       
       
        
        const html = `
        <div class="row is-list-active">
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product-m">
                                            <div class="product-m__thumb">
                                               
                            
                                                <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/product_details?uid=${product.id}">
                                                    
                                                    ${product.image ?`  <img class="aspect__img"  src="/media/${product.image}" alt="dd">`:''}</a>
                                                    
                                                <div class="product-m__quick-look">
                            
                                                    <a class="fas fa-search" data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick Look"></a></div>
                                                    <div class="product-m__add-cart">

                            
                                                        <a class="btn--e-brand" data-modal="modal" data-modal-id="" href="/create_cart?uid=${ product.id }&variant_option_id=${product.id_var}">Add to Cart</a></div>
                                                                                                         <!-- #add-to-cart -->
                                                    </div>
                                               
                                            <div class="product-m__content">
                                                <div class="product-m__category">
                            
                                                <a href="">${ product.p_category } | ${product.p_subcategory}</a></div>
                                                <div class="product-m__name">
                            
                                                    <a href="product-detail.html">${ product.book_title }</a></div>
                                                <div class="product-m__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            
                                                    <span class="product-m__review">(23)</span></div>
                                                    ${ product.dis_price ? 
                                                        `<div class="product-m__price fa fa-rupee" ><h2 style='color: orangered'>₹${ product.price}</div>
                                                        <div class="product-m__price fa fa-rupee" ><del>₹${ product.dis_price} </del>You will save ${ product.save_price}</div>`
                                                                            
                                                        :`<div class="product-m__price fa fa-rupee" ><h2 style='color: orangered'>₹${ product.price}</div>`  
                                                                 }
                                                <div class="product-m__hover">
                                                    <div class="product-m__preview-description">
                            
                                                        <span>${product.description}</span></div>
                                                    <div class="product-m__wishlist">
                            
                                                        <a class="far fa-heart" href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        `;
        productContainer.insertAdjacentHTML('beforeend', html);
    }
}
})

    
    // console.log('parentNode=',eml)
    // console.log('pid=',id)
    // $.ajax({
    //     type:"GET",
    //     url:"/filter_bycategory",
    //     data:{
    //         cate_proid:id
        // },
        // success:function(data){
        //     console.log("data=",data);
           
        //      document.getElementById("product_variant_price").innerHTML='₹'+''+data.product_variant_price
        //     // document.getElementById("totalamount").innerText=data.totalamount
        // }
   

        
//  filter by subcategory
$('.filter_pro_bysubcate').click(function(){
    var id=$(this).attr("pidd").toString();
    console.log(id)
    filterProducts(id)

function filterProducts(id) {
    const url = '/filter_by_subcategory/?cate_proname=' +id;
    console.log(url)
    const xhr = new XMLHttpRequest();
    xhr.open('GET', url);
    xhr.onload = function() {
        if (xhr.status === 200) {
            // const productList=eval(xhr.responseText);
            const productList = JSON.parse(xhr.responseText);
            console.log(productList)
            // alert(productList[0],'hihihi')
            updateProductList(productList);
            
        }
    };
    xhr.send();
}
function updateProductList(productList) {
    const productContainer = document.getElementById('product-list');
    const input=document.getElementById("main-search")
    input.value='';
    productContainer.innerHTML = '';
    
    
    for (let i = 0; i < productList.length; i++) {
        const product = productList[i];
        // alert(product[0].book_title,'hihihi')
       
       
        
        const html = `
        <div class="row is-list-active">
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product-m">
                                            <div class="product-m__thumb">
                                               
                            
                                                <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/product_details?uid=${product.id}">
                                                    
                                                    ${product.image ?`  <img class="aspect__img"  src="/media/${product.image}" alt="dd">`:''}</a>
                                                    
                                                <div class="product-m__quick-look">
                            
                                                    <a class="fas fa-search" data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick Look"></a></div>
                                                    <div class="product-m__add-cart">

                            
                                                        <a class="btn--e-brand" data-modal="modal" data-modal-id="" href="/create_cart?uid=${ product.id }&variant_option_id=${product.id_var}">Add to Cart</a></div>
                                                                                                         <!-- #add-to-cart -->
                                                    </div>
                                               
                                            <div class="product-m__content">
                                                <div class="product-m__category">
                            
                                                <a href="shop-side-version-2.html">${ product.p_category } | ${product.p_subcategory}</strong></a></div><strong>
                                                <div class="product-m__name">
                            
                                                    <a href="product-detail.html">${ product.book_title }</a></div>
                                                <div class="product-m__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            
                                                    <span class="product-m__review">(23)</span></div>
                                                    ${ product.dis_price ? 
                                                        `<div class="product-m__price fa fa-rupee" ><h2 style='color: orangered'>₹${ product.price}</div>
                                                        <div class="product-m__price fa fa-rupee" ><del>₹${ product.dis_price} </del>You will save ${ product.save_price}</div>`
                                                                            
                                                        :`<div class="product-m__price fa fa-rupee" ><h2 style='color: orangered'>₹${ product.price}</div>`  
                                                                 }
                                                <div class="product-m__hover">
                                                    <div class="product-m__preview-description">
                            
                                                        <span>${product.description}</span></div>
                                                    <div class="product-m__wishlist">
                            
                                                        <a class="far fa-heart" href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        `;
        productContainer.insertAdjacentHTML('beforeend', html);
    }
}
})




</script>

{% endblock %}
